/*
Errno::ENOENT: No such file or directory @ rb_sysopen - post_video.scss

Backtrace:
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:484:in `read'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:484:in `update_stylesheet'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/bin/scss:23:in `load'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/bin/scss:23:in `<main>'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `eval'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory @ rb_sysopen - post_video.scss"; }
