/*
Error: File to import not found or unreadable: ionic.globals.
        on line 4 of variables.scss

1: // Ionic Variables and Theming. For more info, please see:
2: // http://ionicframework.com/docs/v2/theming/
3: $font-path: "../assets/fonts";
4: @import "ionic.globals";
5: 
6: // Shared Variables
7: // --------------------------------------------------
8: // To customize the look and feel of this app, you can override
9: // the Sass variables found in Ionic's source scss files.

Backtrace:
variables.scss:4
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:45:in `import'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:28:in `imported_file'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/import_node.rb:37:in `css_import?'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:313:in `visit_import'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/bin/scss:23:in `load'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/bin/scss:23:in `<main>'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `eval'
/Users/iltongarcia/.rvm/gems/ruby-2.3.1/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: ionic.globals.\A         on line 4 of variables.scss\A \A 1: // Ionic Variables and Theming. For more info, please see:\A 2: // http://ionicframework.com/docs/v2/theming/\A 3: $font-path: \"../assets/fonts\";\A 4: @import \"ionic.globals\";\A 5: \A 6: // Shared Variables\A 7: // --------------------------------------------------\A 8: // To customize the look and feel of this app, you can override\A 9: // the Sass variables found in Ionic's source scss files."; }
