.card-img-bg {
    position: relative;
    text-align: center;

    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        ion-icon {
            text-shadow: 0 0 3px #FF0000, 0 0 5px #ff3939;
        }
    }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
}
